*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}


/* ------utilities css end------- */

/* ------header part css start------- */
#header{
    margin-top: 87px;
}

.header-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
.header-right nav ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* ------banner part css start-------- */


/* .banner-container{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
}
.banner-content{
   width: 582px;
   padding-right: 50px;
}
.banner-title{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
}
.banner-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.banner-btn{
    padding: 10px 24px;
    margin-top: 16px;
    border: none;
    border-radius: 20px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
.banner-btn i{
    margin-left: 5px;
}
.banner-img{
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 475px;
    width: 475px;
}
.banner-img img{
    width: 100%;
} */








/* -------media queries------- */
@media screen and (min-width:577px) and (max-width:992px) {
    .header-container {
        align-items: center;
        flex-direction: column;
    }
    .header-title {
        margin-bottom: 10px;
    }

    /* .banner-container{
        align-items: center;
        flex-direction: column;
        
    }
    .banner-content {
        padding-right: 0px;
        text-align: center;
        order: 1;
        margin-top: 16px;
    } */
}

@media screen and (max-width:576px) {
    .header-container {
        align-items: center;
        flex-direction: column;
    }
    .header-right nav ul{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}